*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}
.debug{
  border: 1px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.space-between {
  justify-content: space-between;
  
}

.padding-top {
  padding-top: 100px;
}

.padding-bottom {
  padding-bottom: 35px;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.titolo h2 {
  margin-bottom: 70px;
}

h3 {
  font-size: 1.2rem;
}

.h3-operazioni {
  font-size: 1.5rem;
}

.h5-lista {
  padding: 60px 0 0 15px;
}

h5 {
  padding-top: 60px;
}

p {
  font-size: 15px;
  padding-top: 35px;
}

.divisore {
  border-bottom: 2px solid #d0d0d3;
  width: 100px;
  margin-top: 50px;
}

.link a {
  background-color: rgb(0, 97, 255);
  color: white;
  padding: 7px 15px;
  text-decoration: none;
}

.conteiner-big,
.conteiner-small,
.conteiner-small-azienda{
  width: 99%;
  margin: 0 auto;
}
.conteiner-big {
  max-width: 1200px;
}

.conteiner-small {
  max-width: 1000px;
  margin-top: 50px;
}

.conteiner-small-azienda {
  max-width: 1000px;
}



/*HEADER*/
.content {
  align-items: center;
  height: 100%;
}

.content nav ul li {
  display: inline-block;
  padding-right: 15px;
}

.left {
  margin-left: 40px;
}

.left.d-flex a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
}

.left.d-flex a:hover {
  padding-bottom: 34px;
  border-bottom: 3px solid black;
}

.right.d-flex a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 30px;
  font-size: 13px;
}

.right.d-flex a:hover {
  padding-bottom: 30px;
  border-bottom: 3px solid black;
}


.right .inizia a {
  background-color: rgb(0, 97, 255);
  color: white;
  padding: 7px 15px;
}

.inizia a:hover {
  opacity: 0.7;
}


/*JUMBOTRON*/

.color-jumbo {
  background-color: rgb(180, 208, 231);
}

.jumbo {
  height: 800px;
}

.jumbotron-bottom {
  max-width: 1200px;
  margin: 0 auto;
}

.testo {
  width: 55%;
  margin: 15px 20px 30px 0px;
}

.testo p {
  font-weight: 600;
} 

.img-jumbo img {
  width: 100%;
  margin-top: 50px;
}

.conteiner-big .titolo {
  margin-top: 120px;
}

.annulla {
  padding-bottom: 90px;
 }

.arrow {
  font-size: 3rem;
}


/*PIANO*/

.conteiner-small .titolo {
  max-width: 1000px;
  margin: 50px auto;
}

.radio {
  line-height: 8;
  display: inline;
  padding-right: 40px;
}

.colum.d-flex {
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 1000px;
}

.card-big{
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
  height: 300px;
}

.card .top{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.card-big .top{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
}

.center {
  padding: 20px 0px 50px 15px;
}

.center-special {
  padding: 20px 0px 50px 25px;
  height: 100%;
}
.prezzo {
  padding-top: 10px;
  font-weight: bold;
}

.mese {
  color: rgb(141, 141, 141);
  padding-top: 10px;
}

.lista-top,
.lista-bottom {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 50px;
}

.lista-top.special {
  margin-bottom: 71px;
}

ul.lista-top li,
ul.lista-bottom li {
  font-family: FontAwesome;
  margin-bottom: 20px;
}

ul.lista-bottom li {
  color: #0061ff;
  margin-top: 30px;
  list-style-type:'\f00c';
}

ul.lista-top li span,
ul.lista-bottom li span {
  font-family: 'Open Sans', 'sans-serif';
  color: black;
  margin-left: 3px;
}

/* icona pre lista 1*/
.lista-top li:nth-child(1) {
  list-style-type: '\f007';
}

/* icona pre lista 2 */
.lista-top li:nth-child(2) {
  list-style-type: '\f07b';
}
/* icona pre lista 3*/
.lista-top li:nth-child(3) {
  list-style-type: '\f1e0';
}

/* icona pre lista 1 diverso da altri 2 (2 colonna) */
.lista-top li#strano {
  list-style-type: '\f0c0';
}

.link.acquisto {
  padding: 0 0 30px 10px;
}

.link a:hover {
  opacity: 0.7;
}

.link.acquisto.ufficio {
  padding-top: 10px;
}

.oppure {
  padding-left: 15px;
}

.center-left{
  width: 68%;
}

.center-right {
  width: 26%;
}


/*radio particolare*/
/* container radio */
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Nascondo btn default */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* btn custom */
.checkmark {
  position: absolute;
  top: 0px;
  left:12px;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 50%;
}

/* hover ombra */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* su checked colore */
.container input:checked ~ .checkmark {
  background-color: #0061FF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* stile cerchio interno bianco */
.container .checkmark:after {
     top: 4px;
    left: 4px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}
/* /radio particolare */

/*PARTNER*/

.link.partner a{
 background-color: white;
 color: black;
 border: 1px solid black;
}

.testo-partner {
  margin-bottom: 40px;
}

.partner {
  margin-bottom: 60px;
}


/*OPERAZIONI*/

.box-cards.wrapper{
  justify-content: center;
  flex-wrap:wrap;
  margin-top: 40px;
}

#carta {
  height: 500px;
  width: calc(100% / 3);
  min-width: 200px;
  padding-right: 30px;
  padding-top: 30px;
}

.card-img {
  width: 100%;
}

/*TEAM*/

.caso {
  padding-top:50px;
}

/*SPONSOR*/

.square-big {
  width: 100%;
  margin-top: 100px;
}

.square-big .colonna {
  width: calc(100% / 3);
  aspect-ratio: 1;
}


.quadrato {
  width: calc(100% / 2);
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.quadrato:hover {
  border: 15px solid rgba(255, 255, 255, 0.3);
}

.designit {
  background-color: rgb(162, 211, 155);
}

.asu {
  background-color: rgb(97, 8, 43);
}

.uf {
  background-color: rgb(0, 147, 206);
}

.topps {
  background-color: rgb(255, 28, 28);
}

.world {
  background-color: rgb(213, 0, 31);
}

.hearst {
  background-color: rgb(180, 208, 231);
}

.lonely {
  background-color: rgb(13, 36, 129);
}

.clear {
  background-color: rgb(255, 216, 48);
}

.img-designit {
  width: 46%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-asu {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-uf {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-topps {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-world {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-hearst {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-lonely {
  width: 55%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.img-clear {
  width: 50%;
  filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(104deg) brightness(119%) contrast(98%);
}

.colonna.colonna-centrale {
  background-color: #f5f5f5;
  overflow: auto;
  height: 100%;
}

.centro {
  margin: 50px;
}

.logo-partner img {
  width: 50%;
}

/*AZIENDA*/

.azienda {
  background-color: rgb(180, 208, 231);
  height: 360px;
  margin-bottom: 120px;
}

.azienda-left {
  width: 50%;
}

.azienda-right {
  width: 30%;
  padding-top: 145px;
}

.titolo-azienda {
  padding-top: 120px;
  color: rgb(110, 38, 72);
}


/*FAQ*/

.faq {
  margin-top: 60px;
  padding:40px 0 37px 0;
  border-top:1px solid rgb(212, 212, 212);
}

.faq-left {
  width: 70%;
}

.faq-right {
  width: 10%;
  text-align: center;
  font-size: 10px;
}

.faq-special {
  padding:40px 0 37px 0;
  border-top:1px solid rgb(212, 212, 212);
  border-bottom:1px solid rgb(212, 212, 212);
}


/* FOOTER */

.nero {
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid white;
  margin: 0 auto;
  margin-top: 150px;
}

.elenco-footer {
  margin: 90px auto;
  justify-content: center;
}

.elenco-footer li a {
  color: white;
  font-size: .8rem;
  text-decoration: none; 
  list-style: none;
  padding: 5px;
  line-height: 2.5;
}

.elenco-footer ul li:first-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  list-style: none;
}

.elenco-footer li a:hover{
  color: rgb(132, 130, 130);
}

.footer-bottom{
  height: 90px;
  margin-left: 35px;
}
.footer-bottom .divisore {
  border: 1px solid rgb(132, 130, 130);
  width: 100px;
  margin: 20px;
}

.footer-bottom .testo-footer {
  color: rgb(132, 130, 130);
  margin: 40px 0 50px 20px;
}

/* BONUS FAQ */

.bonus {
  display: none;
}

.faq:hover .bonus {
  display:inline-block;
  margin-top: 20px;
}

.faq:hover .fa-chevron-down {
  display: none;
}

 .faq-special:hover .bonus {
  display:inline-block;
  margin-top: 20px;
} 

.faq-special:hover .fa-chevron-down {
  display: none;
} 

/* BONUS HEADER */


ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:5px 20px;
	text-decoration:none;
}


ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 53px;
	left: 0;
	z-index:999;
	background: rgb(242, 238, 232);
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul a {
	padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	background-color: rgb(146, 144, 141);
	color:black;
}
