*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 80px;
  position: sticky;

}

.d-flex {
  display: flex;
}

.padding-top {
  padding-top: 100px;
}

.padding-bottom {
  padding-bottom: 35px;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

.link a {
  background-color: rgb(0, 97, 255);
  color: white;
  padding: 7px 15px;
  text-decoration: none;
}

#conteiner-big {
  background-color: rgb(180, 208, 231);
  height: 740px;
  width: 100%;
}

#conteiner-small {
  background-color: red;
  height: 740px;
  width: 100%;
}


/*HEADER*/
.content{
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}

#logo {
  padding-right: 40px;
  width: 70%;
}

.content nav {
  align-items: center;
}

.content nav ul li {
  display: inline-block;
  padding-right: 40px;
}

.left.d-flex a {
  text-decoration: none;
  font-weight: 400 bold;
  color: black;
}

.right.d-flex a {
  text-decoration: none;
  font-weight: 400 bold;
  color: black;
}

.right .link a {
  background-color: rgb(0, 97, 255);
  color: white;
  padding: 7px 15px;
}


/*JUMBOTRON*/



#conteiner-big .titolo {
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.testo {
  display: block;
  width: 30%;
}

.testo p {
  font-weight: 600;
} 

.img {
  width: 780px;
  height: 430px;
}

.annulla {
  margin-top: 35px;
  padding-bottom: 70px;
  }

.annulla {
  padding-bottom: 40px;
 }

.arrow {
  font-size: 3rem;
}


/*PIANO*/

#conteiner-small .titolo {
  max-width: 1000px;
  margin: 50px auto;
}

.radio {
  line-height: 8;
}

.singolo {
  border: 1px solid black;
}

.team {
  border: 1px solid black;
}

.azineda {
  border: 1px solid black;
}